<h3> {{ section.settings.cta-2 }}</h3>

{% schema %}
{
"name" : "CTA 2",
"settings" : [
    {
        "type": "text",
        "id": "cta-2",
        "label": "CTA",
        "default": "Make a bouquet"
    }
],
"presets" : [
    {
        "name": "Title",
        "category": "Section"
    }
]
}
{% endschema %}