<h3> {{ section.settings.cta-1 }}</h3>

{% schema %}
{
"name" : "CTA 1",
"settings" : [
    {
        "type": "text",
        "id": "cta-1",
        "label": "CTA",
        "default": "Hire us for your event"
    }
],
"presets" : [
    {
        "name": "Title",
        "category": "Section"
    }
]
}
{% endschema %}