<section>
  <h2>{{ section.settings.heading | newline_to_br }}</h2>
</section>

{% schema %}
{
    "name": "Wholesale Page Title",
    "settings": [
        {
            "type": "textarea",
            "id": "heading",
            "label": "Heading",
            "default": "We offer wholesale stems to florists and floral professionals. Please inquire for pricing and availability - we would love to provide you with our locally grown blooms! Additionally, if there are flower varieties you are interested in purchasing that are not currently listed, we may be able to integrate them into our growing plans."
        }
    ]
}
{% endschema %}
