<style>
.nav-wrapper {
    position: relative;
    z-index: 1;
}
.page-content {
    grid-column: 1 / span 6;
}
.photo {
    grid-column: 7 / span 6;
    margin-top: -10%;
    margin-right: -3%;
}
.photo img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0;
}

.page-content h2 {
    margin-bottom: var(--space-xs);
}
.inquire-button svg{
rotate: -4deg;
margin-top: var(--space-sm);
}

.inquire-button: hover {
    filter: blur(1.5px);
}

@media (max-width: 768px) {
  
    .photo {
        display: none;
    }
  
    .page-content {
      grid-column: 1 / span 6;
      grid-row: 2;
    }
    .inquire-button svg {
        margin-bottom: var(--space-md);
    }
  }

    
</style>
    
    <!-- Content -->
    <main>
    
    <div class="container">
    
        <div class="page-content">
            {% section 'wholesale-page-title' %}

            <a class="inquire-button">
                <svg width="195" height="98" viewBox="0 0 195 98" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M110.873 14.6484L111.116 14.9023L111.437 14.7578L134.392 4.46582L136.112 19.6406L136.173 20.1689L136.695 20.0771L165.348 15.0518L155.621 29.0596L155.094 29.8184L156.017 29.8447L185.763 30.6963L166.297 41.6621L165.191 42.2852L166.425 42.584L192.876 49L166.425 55.416L165.191 55.7148L166.297 56.3379L185.763 67.3027L156.017 68.1553L155.094 68.1816L155.621 68.9404L165.348 82.9473L136.695 77.9228L136.173 77.8311L136.112 78.3594L134.392 93.5332L111.437 83.2422L111.116 83.0977L110.873 83.3516L97.5 97.2773L84.1269 83.3516L83.8838 83.0977L83.5625 83.2422L60.6074 93.5332L58.8877 78.3594L58.8271 77.8311L58.3047 77.9228L29.6514 82.9473L39.3789 68.9404L39.9062 68.1816L38.9834 68.1553L9.23633 67.3027L28.7031 56.3379L29.8086 55.7148L28.5752 55.416L2.12305 49L28.5752 42.584L29.8086 42.2852L28.7031 41.6621L9.23633 30.6963L38.9834 29.8447L39.9062 29.8184L39.3789 29.0596L29.6514 15.0518L58.3047 20.0771L58.8271 20.1689L58.8877 19.6406L60.6074 4.46582L83.5625 14.7578L83.8838 14.9023L84.1269 14.6484L97.5 0.72168L110.873 14.6484Z" fill="#ECED5E" stroke="#434F1A"/>
                    <path d="M124.511 51.2963H126.239C125.783 54.0083 124.127 55.5923 121.751 55.5923C118.823 55.5923 117.023 53.1683 117.023 49.1843C117.023 44.9843 118.919 42.3203 121.895 42.3203C123.551 42.3203 124.703 43.0883 125.495 44.7443C126.095 45.9923 126.311 47.1683 126.383 49.6403H118.871C118.919 51.0563 119.063 51.7283 119.471 52.4243C119.975 53.2883 120.791 53.7443 121.799 53.7443C123.191 53.7443 124.343 52.7123 124.511 51.2963ZM118.871 47.9603H124.583C124.487 46.6643 124.319 46.0403 123.935 45.3923C123.455 44.6243 122.711 44.1923 121.823 44.1923C120.167 44.1923 118.967 45.7043 118.871 47.9603Z" fill="#434F1A"/>
                    <path d="M116.384 44.5523H115.736C114.224 44.5283 113.096 45.9683 113.096 47.9123V55.2323H111.368V42.6803H113V44.8163C113.912 43.0163 114.728 42.3203 115.928 42.3203C116.12 42.3203 116.216 42.3443 116.384 42.3923V44.5523Z" fill="#434F1A"/>
                    <path d="M108.545 42.68V55.232H106.817V42.68H108.545ZM108.545 40.4H106.817V38H108.545V40.4Z" fill="#434F1A"/>
                    <path d="M104.176 55.2327H102.544V53.2887C101.632 55.0167 100.816 55.5927 99.2795 55.5927C97.1435 55.5927 95.8955 54.1527 95.8955 51.7047V42.6807H97.6235V51.0087C97.6235 52.8087 98.2955 53.7447 99.6155 53.7447C101.344 53.7447 102.448 52.1367 102.448 49.5927V42.6807H104.176V55.2327Z" fill="#434F1A"/>
                    <path d="M93.3262 42.6803V60.2003H91.5982V53.8403C90.9022 55.0643 90.0622 55.5923 88.7662 55.5923C86.0782 55.5923 84.3022 52.8563 84.3022 48.6563C84.3022 44.8403 86.0062 42.3203 88.5502 42.3203C89.9422 42.3203 90.7582 42.8963 91.6942 44.5283V42.6803H93.3262ZM88.8382 44.1923C87.0382 44.1923 86.1022 45.7523 86.1022 48.7043C86.1022 51.9203 87.1102 53.7443 88.8382 53.7443C90.6142 53.7443 91.6702 52.1123 91.6702 49.3283C91.6702 45.9203 90.7102 44.1923 88.8382 44.1923Z" fill="#434F1A"/>
                    <path d="M75.5649 42.6803V44.5283C76.4529 42.9683 77.4369 42.3203 78.8529 42.3203C81.0609 42.3203 82.3329 43.9283 82.3329 46.6883V55.2323H80.6049V47.5043C80.6049 45.2003 79.9569 44.1923 78.4929 44.1923C76.7409 44.1923 75.6609 45.7763 75.6609 48.3923V55.2323H73.9329V42.6803H75.5649Z" fill="#434F1A"/>
                    <path d="M70.896 38L70.896 55.232H69V38H70.896Z" fill="#434F1A"/>
                    </svg>
            </a>
                
        </div>
    
        <div class="photo">
            <img src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/wholesale.png?v=1755716578" alt="Wholesale Image" /> 
        </div>
    
    </div>
    
    {% section 'footer' %}
    </main>
    
    