<h3> {{ section.settings.cta-3 }}</h3>

{% schema %}
{
"name" : "CTA 3",
"settings" : [
    {
        "type": "text",
        "id": "cta-3",
        "label": "CTA",
        "default": "Shop bouquets"
    }
],
"presets" : [
    {
        "name": "Title",
        "category": "Section"
    }
]
}
{% endschema %}