<div class="image">
    {% if section.settings.image != blank %}
      <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image_alt | escape }}">
    {% else %}
      
        <!-- Placeholder image -->
      <img src="https://cdn.shopify.com/s/files/1/0712/1082/7961/files/fpo.png?v=1754063836" alt="Placeholder">
    {% endif %}
  </div>
  
  {% schema %}
  {
    "name": "Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Upload image"
      },
      {
        "type": "text",
        "id": "image_alt",
        "label": "Image alt text",
        "default": "image"
      }
    ],
    "presets": [
      {
        "name": "Image",
        "category": "Image"
      }
    ]
  }
  {% endschema %}