<style>
  html,
  body {
    height: 100%;
    margin: 0;
  }

  .page {
    display: grid;
    grid-template-rows: 34% 15% 41%;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 var(--space-page-margin);
    height: calc(100vh - 75.4px);
    gap: 0;
  }

  .row-1 {
    grid-row: 1;
    display: contents;
  }
  .row-2 {
    grid-row: 2;
    display: contents;
  }
  .row-3 {
    grid-row: 3;
    display: contents;
  }

  /* ------------- Floating images ------------- */
  /* ------------- Row 1 ------------- */
  .can-button-group {
    grid-column: 1 / span 3;
    display: flex;
    position: relative;
  }
  .can-group {
    height: 50%;
    width: auto;
    padding: 45% 0 0;
  }
  .cta-1 {
    position: absolute;
    width: 80%;
    height: 80%;
    margin: 0 0 0 60px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 60%;
  }
  .cta-1,
  .cta-1 div {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .cta-1 div {
  }
  .cta-1 svg {
    fill: var(--color-accent-1);
    position: absolute;
    width: 100%;
  }
  .cta-1 h3 {
    text-align: center;
    position: absolute;
    z-index: 2;
    text-decoration: underline;
    text-transform: lowercase;
    width: 55%;
    margin: auto;
  }

  .cta-1 svg,
  .cta-1 h3 {
    transform: rotate(-10deg);
  }

  /* ------------- Sunflower ------------- */

  .sunflower {
    grid-column: 5 / span 2;
    width: 70%;
    margin: 40% 0 0 5%;
  }
  /* ------------- Greenhouse Group ------------- */
  .greenhouse-badge-group {
    grid-column: 9 / span 4;
    display: flex;
    position: relative;
    margin-top: 5%;
  }
  .greenhouse-collage {
    width: auto;
    height: 65%;
    z-index: 1;
    margin-left: 30%;
  }
  .badge-1 {
    position: absolute;
    width: 35%;
    height: auto;
    justify-self: start;
    z-index: 2;
    margin-top: 20%;
    margin-left: 10%;
  }

  /* ------------- Row 2 ------------- */
  .title {
    grid-column: 3 / span 8;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 120%;
  }
  .title .bff-line {
    float: left;
    width: 355px;
    height: 36px;
    background: url('https://cdn.shopify.com/s/files/1/0763/4495/1042/files/logo.svg?v=1755288076');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
    margin-top: -6px;
  }

  .clippers {
    grid-column: 11 / span 1;
    width: 60%;
    margin-left: 70%;
  }
  /* ------------- Row 3 ------------- */

  /* ------------- CTA 2 ------------- */
  .butterfly-group {
    grid-column: 1 / span 3;
    width: 100%;
    height: auto;
    margin-top: 10%;
  }
  .cta-2-group {
    grid-column: 4 / span 2;
    display: flex;
  }

  .cta-2 {
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 60%;
  }
  .cta-2 svg {
    fill: var(--color-primary);
    position: absolute;
    height: auto;
  }
  .cta-2 h3 {
    text-align: center;
    position: absolute;
    z-index: 2;
    text-decoration: underline;
    text-transform: lowercase;
    margin: auto;
  }
  .yellow-stem {
    width: 5%;
    position: absolute;
    height: auto;
  }

  .cta-2 svg,
  .cta-2 h3 {
    transform: rotate(-10deg);
  }
  /* ------------- Bucket ------------- */

  .bucket-group {
    grid-column: 7 / span 1;
    width: 50%;
    margin-top: 100%;
    margin-left: 50%;
  }

  .badge-button-collage-group {
    grid-column: 10 / span 3;
    display: flex;
    width: 100%;
  }
  .badge-2 {
    margin-right: -15%;
    width: 30%;
    height: 100%;
    z-index: 2;
  }
  .cta-3 {
    width: auto;
    height: 40%;
  }
  .chaos-collage {
    margin-top: 30%;
    width: auto;
    height: 60%;
  }

  /* ------------- Mobile ------------- */
  @media (max-width: 768px) {
    /* Grid container */
    .page {
      display: grid;
      grid-template-rows: 34% 25% 31%;
      grid-template-columns: repeat(6, 1fr);
      padding: 0 var(--space-page-margin);
      height: calc(100vh - 75.4px);
      gap: 0;
    }
    /* ------------- ROW ONE ------------- */
    .can-button-group {
      grid-column: 1 / span 3;
    }
    .sunflower {
      display: none;
    }
    .cta-1 {
      margin: 0 0 0 75px;
    }
    .greenhouse-badge-group {
      grid-column: 4 / span 3;
    }
    .greenhouse-collage {
      height: 35%;
      margin-left: 20%;
    }
    .badge-1 {
      display: none;
    }
    /* ------------- ROW TWO ------------- */
    .title {
      grid-column: 1 / span 6;
    }
    .title .bff-line {
      width: 264px;
      background-position-y: center;
      margin-right: 8px;
      margin-top: -3px;
    }

    .clippers {
      display: none;
    }
    /* ------------- ROW THREE ------------- */
    .butterfly-group {
      grid-column: 1 / span 3;
      width: 100%;
      height: auto;
      margin-top: 20%;
    }
    .bucket-group {
      display: none;
    }
    .badge-button-collage-group {
      grid-column: 5 / span 2;
      flex-direction: column;
    }
    .badge-2 {
      margin-right: -50%;
      width: 70%;
    }
    .chaos-collage {
    }
  }
</style>

<main class="page">
  <!-- -------------------------- ROW ONE -------------------------- -->
  <div class="row-1">
    <div class="can-button-group">
      <img
        class="can-group"
        src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/can-group.png?v=1755797318"
        alt="Blue watering can"
      >

      <a href="/pages/events" class="cta-1">
        {% section 'home-cta-1' %}
        <svg width="203" height="140" viewBox="0 0 203 140" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M101.534 0.876953L115.761 21.1621L140.185 6.16733L142.047 28.6546L172.952 21.233L162.167 42.499L194.846 43.7805L173.055 60.5875L202.534 70.377L173.055 80.1664L194.846 96.9734L162.167 98.2549L172.952 119.521L142.047 112.099L140.185 134.587L115.761 119.592L101.534 139.877L87.3078 119.592L62.8832 134.587L61.0209 112.099L30.1164 119.521L40.9018 98.2549L8.22234 96.9734L30.0134 80.1664L0.53418 70.377L30.0134 60.5875L8.22234 43.7805L40.9018 42.499L30.1164 21.233L61.0209 28.6546L62.8832 6.16733L87.3078 21.1621L101.534 0.876953Z"/>
        </svg>
      </a>
    </div>

    <img
      class="sunflower"
      src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/sunflower.png?v=1755797318"
      alt="Sunflower"
    >

    <div class="greenhouse-badge-group">
      <img
        class="badge-1"
        src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/badge-1.svg?v=1755797318"
        alt="We picked these flowers this morning"
      >

      <img
        class="greenhouse-collage"
        src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/greenhouse.png?v=1755797318"
        alt="Collage of a greenhouse"
      >
    </div>
  </div>
  <!-- -------------------------- ROW TWO -------------------------- -->
  <div class="row-2">
    <h2 class="title">
      <span class="bff-line"></span> is the project of three best friends. We grow all our flowers on 11 acres right
      here in Yellow Springs, Ohio.
    </h2>

    <img
      class="clippers"
      src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/clippers.png?v=1755797318"
      alt="Garden clippers"
    >
  </div>
  <!-- -------------------------- ROW THREE -------------------------- -->
  <div class="row-3">
    <img
      class="butterfly-group"
      src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/butterfly-group.png?v=1755797318"
      alt="Butterfly and seed packet"
    >

    {% comment %}
      <div class="cta-2-group">
        <button class="cta-2">
          {% comment %} {% section 'home-cta-2' %} {% endcomment %}
          {% comment %} <svg width="203" height="140" viewBox="0 0 203 140" fill="none" xmlns="http://www.w3.org/2000/svg"> {% endcomment %}
          {% comment %} <path d="M101.534 0.876953L115.761 21.1621L140.185 6.16733L142.047 28.6546L172.952 21.233L162.167 42.499L194.846 43.7805L173.055 60.5875L202.534 70.377L173.055 80.1664L194.846 96.9734L162.167 98.2549L172.952 119.521L142.047 112.099L140.185 134.587L115.761 119.592L101.534 139.877L87.3078 119.592L62.8832 134.587L61.0209 112.099L30.1164 119.521L40.9018 98.2549L8.22234 96.9734L30.0134 80.1664L0.53418 70.377L30.0134 60.5875L8.22234 43.7805L40.9018 42.499L30.1164 21.233L61.0209 28.6546L62.8832 6.16733L87.3078 21.1621L101.534 0.876953Z"/> {% endcomment %}
          {% comment %} </svg> {% endcomment %}
        </button>
      </div>
    {% endcomment %}

    <img
      class="bucket-group"
      src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/bucket-group.png?v=1755797318"
      alt="Green bucket with a magenta flower"
    >

    <div class="badge-button-collage-group">
      <img
        class="badge-2"
        src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/badge-2.svg?v=1755797318"
        alt="Fresh Flowers"
      >

      {% comment %} <div class="cta-3">{% section 'home-cta-3' %}</div> {% endcomment %}

      <img
        class="chaos-collage"
        src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/chaos-collage.png?v=1755797318"
        alt="Collage of flowers"
      >
    </div>
  </div>
</main>
