<style>
  html,
  body {
    height: 100%;
    margin: 0;
  }
  /************** Page Border **************/
  .page-border .border {
    position: fixed;
    z-index: 990;
    white-space: nowrap;
    pointer-events: none;
  }
  /* Bottom border */
  .page-border .border-bottom {
    font-family: 'TeXGyreHeros-Condensed', sans-serif;
    text-transform: lowercase;
    font-size: 26px;
    background-color: var(--color-accent-1);
    white-space: nowrap;
    color: var(--color-primary);
    font-weight: 400;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: var(--border-size);
    text-align: center;
    overflow: hidden;
  }
  /************** Hero **************/

  .hero {
    height: 93vh;
    background-image: url('https://cdn.shopify.com/s/files/1/0763/4495/1042/files/home-hero.png?v=1758660881');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .logo {
    display: flex;
    align-items: center;
    margin: 0 var(--space-page-margin);
    justify-content: center;
  }

  .cta-container {
  display: flex;
  margin: 0 var(--space-xxxl) var(--space-xxl) var(--space-page-margin);
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  } 
  .home-cta {
    display: flex;                
    align-items: center;
    justify-content: center;
    padding: var(--space-xl);     
    background-image: url('https://cdn.shopify.com/s/files/1/0763/4495/1042/files/btn-elipsis.svg?v=1758679885');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    box-sizing: border-box;
  rotate: 5deg;
  }

  /************** Collage **************/
  /*------------- Secondary Border -------------*/
  .secondary-border {
    margin-top: var(--space-xxl);
    z-index: -1;
    white-space: nowrap;
    pointer-events: none;
    display: flex;
    position: relative;
    align-items: center;
    background-color: var(--color-secondary);
    height: var(--border-size);
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    overflow: hidden;
  }
  .secondary-border h2 {
    color: var(--color-accent-1);
  }
  /* ------------- Row 1 ------------- */

  .home-1 {
    grid-column: 1 / span 2;
    width: 80%;
    margin-left: 40%;
    margin-top: -30%;
  }
    /* ------------- Row 2 ------------- */
  .home-2 {
    grid-column: 1 / span 2;
    width: 110%;
    margin-top: 25%;
  }
  .home-3 {
    grid-column: 4 / span 5;
    width: 100%;
    margin-top: -15%;

  }
  .home-4 {
    grid-column: 9 / span 2;
    width: 100%;
    margin-left: -30%;
    margin-top: 90%;
  }
  .home-5 {
    grid-column: 11 / span 2;
    width: 160%;
    max-width: 200%;
    height: auto;
    margin-top: -25%;
    margin-left: -70%;
  }
/* ------------- Row 3 ------------- */
.row-3 h2 {
    grid-column: 2 / span 6;
  }
.row-3 {
  margin: var(--space-xl) 0;
}
/* ------------- Row 4 ------------- */
.row-4 svg {
  grid-column: 3 / span 2;
  margin-left: 20%;
  width: 90%;
  margin-top: 10%;
  z-index: 555;
  }
.home-6 {
grid-column: 6 / span 1;
width: 110%;
margin-left: 20%;
}
.home-7 {
grid-column: 9 / span 3;
width: 130%;
margin-left: 10%;
margin-top: -40%;
}

/* ------------- Row 4 ------------- */
.row-5 {
margin-top: -5%;
}
.home-8 {
grid-column: 1 / span 4;
width: 100%;

}
.home-9 {
  grid-column: 8 / span 3;
  width: 100%;
}

.home-collage-carousel {
  display: none;
}

  /* ------------- Mobile ------------- */

  @media only screen and (max-width: 770px) {

    .cta-container{
    margin: 0;
    }

    /* Collage */
    .row-1 {
      display: none;
    }
    .row-2 {
      display: none;
    }

    .row-3 h2 {
      grid-column: 2 / span 4;
    }

    .row-4,
    .row-5 {
      display: none;
    }

    .home-collage-carousel {
      display: none;
    }

    .home-collage-carousel img {
      flex: 0 0 100%;
      scroll-snap-align: center;
      width: 100%;
      height: auto;
    }
  }
</style>

<div class="page-border">
  <div class="border border-bottom">
    we picked these blooms this morning we picked these blooms this morning we picked these blooms this morning we
    picked these blooms this morning we picked these blooms this morning we picked these blooms this morning we picked
    these blooms this morning we picked these blooms this morning we picked these blooms this morning we picked these
    blooms this morning
  </div>
</div>

<main class="page">
  <section class="hero">
    <div class="cta-container">
    <a href="/collections/shop" class="button home-cta">
      Shop flowers
    </a>
  </div>

    <div class="logo">
          <svg width="1104" height="86" viewBox="0 0 1104 86" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M361.877 45.9015C368.63 41.0143 373.086 33.6664 370.413 24.5755C368.527 18.1504 363.214 13.8784 356.529 13.3316C352.519 13.024 348.851 14.2202 345.526 16.1682C341.995 10.8709 335.962 7.41908 329.003 7.79502C318.307 8.37602 311.349 17.5011 310.149 27.5147C310.046 28.4716 310.012 29.4286 309.977 30.3855C309.292 30.5906 308.606 30.7956 307.921 31.069C305.761 31.9918 303.944 33.2905 302.367 34.8284C300.208 36.5372 298.597 38.7929 297.98 41.4928C297.191 43.5434 296.677 45.6965 296.54 47.9521C296.471 49.3191 296.951 50.652 297.774 51.7115C297.945 53.0102 298.528 54.2747 299.522 55.1974C302.436 57.8632 305.898 59.4695 309.429 60.1188C308.846 62.1352 308.778 64.2541 309.395 66.4756C310.732 71.2944 314.777 75.088 319.576 76.3525C319.576 76.3525 319.644 76.3525 319.679 76.3525C322.044 77.2069 324.546 77.2411 326.843 76.4892C330.614 75.6348 333.836 73.3108 336.441 70.2692C337.401 70.5768 338.327 70.816 339.321 71.021C340.932 72.2172 342.715 73.2767 344.497 74.1653C351.353 77.6171 360.06 78.9157 365.956 73.0374C366.333 72.7982 366.71 72.5931 367.088 72.3197C371.818 68.7654 371.715 63.1263 369.864 58.0341C368.116 53.2494 365.339 49.1483 361.843 45.799L361.877 45.9015Z" fill="#434F1A"/>
          <path d="M827.55 49.9662C819.048 45.2411 837.368 42.8436 833.939 28.9484C832.814 24.1183 829.403 20.8107 824.399 20.2682C821.663 19.8482 818.563 21.2307 816.053 19.7432C811.932 16.5407 810.65 9.36555 804.521 8.99805C798.633 8.01803 792.937 11.5006 791.638 17.3457C791.136 18.9032 791.119 21.3182 789.595 22.0708C788.798 22.4908 787.656 22.4033 786.426 22.2283C779.431 20.8982 772.557 24.8358 770.531 31.9759C769.18 37.1035 771.379 43.0186 775.5 46.2036C778.253 48.4087 782.011 49.5987 784.677 51.8212C785.301 52.4162 785.439 52.6263 785.474 53.1513C785.422 54.1838 782.859 54.8663 781.162 56.3363C776.972 59.4514 774.981 64.894 776.072 70.074C776.833 74.3616 779.344 78.9817 783.794 80.0142C790.062 80.7492 797.3 80.0142 802.235 76.0416C804.815 74.3266 808.226 69.689 811.083 73.1016C814.944 78.5967 818.026 81.5367 825.195 79.8042C829.991 79.5067 833.714 76.9691 835.827 72.7166C840 64.5614 834.909 54.7963 827.844 50.1237L827.585 49.9487L827.55 49.9662Z" fill="#434F1A"/>
          <path d="M609.84 81.0529C616.505 73.1221 611.419 61.0939 615.05 52.1431C616.365 48.4327 619.382 44.9156 619.031 40.8359C618.733 37.2134 615.207 34.136 611.559 34.6284C606.56 35.4021 603.578 41.17 600.947 44.9332C599.439 47.1841 597.913 48.7668 596.755 48.6788C594.545 48.292 594.879 44.1243 594.949 41.9438C595.071 38.8136 595.37 35.1208 592.984 32.782C590.318 30.2321 585.512 31.1641 583.127 34.136C580.899 36.6683 580.759 40.5721 580.338 43.6847C580.145 45.0212 579.864 45.7949 579.461 45.8301C578.777 45.7773 578.303 44.3705 578.075 43.5792C576.637 38.5147 577.9 32.9051 576.444 27.5416C575.304 22.4771 570.989 16.9378 565.254 18.9425C557.062 21.6858 554.87 32.2192 557.133 39.7456C561.149 50.1384 564.99 54.5347 560.044 66.2287C557.238 73.1045 560.991 80.5078 568.691 80.9298C574.129 81.8794 580.215 76.6039 584.512 77.5887C587.705 78.4679 590.038 81.475 593.089 82.8642C598.597 85.7657 605.613 84.8513 609.63 81.2991L609.84 81.0881V81.0529Z" fill="#434F1A"/>
          <path d="M673.428 24.4572C685.092 38.118 667.045 52.7906 655.311 58.3736C650.886 60.5021 648.298 68.1786 650.851 71.6854C654.471 75.2969 656.902 63.9042 659.787 62.1072C667.027 55.2681 675.718 60.9906 674.477 70.3245C673.567 75.4888 669.126 79.6236 664.264 82.7466C647.616 92.7959 627.278 77.216 624.777 59.8042C623.886 54.7795 624.305 49.1268 626.666 44.5907C627.943 42.0958 629.709 40.1767 631.3 37.9784C634.256 34.0878 636.179 28.9933 637.106 24.1606C638.085 14.4079 644.101 4.93434 655.101 8.85985C659.56 10.5871 662.463 15.1756 665.908 18.2287C668.199 20.3747 670.997 22.067 673.235 24.2304L673.445 24.4397L673.428 24.4572ZM642.825 49.3187C647.039 51.5345 660.067 41.6945 662.585 37.7341C667.027 31.6976 661.396 26.1844 654.908 27.7197C650.449 28.7665 647.983 33.355 645.465 37.9086C643.839 41.1711 641.251 45.6375 642.702 49.1966L642.825 49.3362V49.3187Z" fill="#434F1A"/>
          <path d="M551.66 20.5409C550.481 15.978 544.554 13.4081 540.086 11.6948C531.169 7.62138 516.13 6.95705 508.936 13.5654C503.818 18.5479 507.089 25.7506 507.371 31.852C507.212 39.0547 506.79 46.5022 511.574 52.4987C515.69 58.5826 519.753 64.7538 526.947 64.0545C533.49 62.7783 541.423 60.8553 545.539 55.3133C548.582 51.0127 548.23 45.4708 549.619 40.1736C551.114 34.0198 553.436 26.5723 551.73 20.8206L551.642 20.5409H551.66ZM534.211 40.6107C533.737 43.6876 529.603 45.3484 527.616 42.6037C526.244 40.803 526.42 38.4953 526.015 36.4149C525.786 34.9813 525.47 33.4778 525.399 32.0093C524.854 27.4814 528.073 22.0269 532.417 25.1038C534.651 26.887 534.053 30.8205 533.965 33.0932C533.895 35.3135 534.722 37.9359 534.282 40.3135L534.211 40.6107Z" fill="#434F1A"/>
          <path d="M445.065 25.2595C442.759 26.9413 442.182 31.6187 442.811 34.3516C444.978 39.3969 452.317 37.1896 456.808 39.8349C460.285 41.3765 461.893 45.651 460.163 49.0846C459.341 50.889 457.821 52.3606 455.969 53.0438C453.121 54.2175 449.311 52.8861 447.372 53.5868C445.1 54.3401 445.327 57.2132 445.362 59.3504C445.834 66.3052 445.03 74.1185 439.194 76.501C431.733 79.6193 424.673 73.4002 425.634 65.6045C425.774 61.8205 427.486 57.3533 426.298 55.0409C423.765 51.1167 417.089 53.0263 413.647 49.8554C406.343 43.7415 415.499 39.029 421.58 38.2757C425.582 37.6276 425.669 35.3326 425.285 30.8654C424.184 18.6376 424.883 6.07685 440.802 6.65495C451.496 6.1294 464.881 13.8025 466.313 24.5588C467.484 31.5662 460.425 37.1195 453.959 34.264C450.604 32.8275 449.364 28.7983 447.232 26.2055C446.533 25.3822 445.852 25.0143 445.222 25.207L445.083 25.2595H445.065Z" fill="#434F1A"/>
          <path d="M490.27 20.2905C493.269 24.9107 491.805 31.639 491.329 37.3835C490.87 40.7916 489.971 44.0064 488.842 47.2739C487.854 49.7509 485.526 57.2346 487.589 57.7264C488.136 57.7791 488.489 57.4278 488.93 56.9711C490.517 55.1089 491.435 52.2982 492.863 50.2428C495.103 46.3955 500.095 45.4293 502.794 49.2766C504.945 52.2279 505.334 56.8832 505.404 60.7305C505.722 70.9546 501.841 74.9424 491.293 74.2221C481.61 74.31 461.22 84.7801 463.284 66.7385C464.254 60.344 467.2 54.4941 468.717 48.2577C471.98 38.4727 470.745 24.4891 480.887 18.7446C483.903 17.2865 487.942 17.5676 490.112 20.0797L490.288 20.2905H490.27Z" fill="#434F1A"/>
          <path d="M723.791 46.5393C734.505 36.92 732.552 19.4002 719.54 13.0799C714.373 10.1802 708.307 10.458 702.518 9.32935C699.079 8.73899 695.346 8.09654 691.976 9.2599C684.822 11.795 683.802 20.6851 683.215 27.3006C682.662 34.819 685.582 42.1464 685.842 49.6127C686.135 54.596 685.358 59.5099 684.338 64.3717C683.595 67.9659 683.077 72.654 685.358 75.6058C689.125 80.5544 696.037 76.5782 697.627 71.647C699.113 69.0251 699.338 58.607 702.57 62.0276C704.177 64.1806 704.937 67.2019 706.268 69.6328C708.67 74.3904 712.887 78.8702 717.725 79.2522C723.082 79.8772 727.403 74.8071 726.936 69.5807C726.78 65.5697 724.793 61.8539 722.719 58.5028C719.868 54.3876 719.453 50.2899 723.566 46.7824L723.791 46.5567V46.5393ZM717.207 32.0755C714.407 35.1141 709.171 34.819 705.698 36.8679C703.572 38.1354 700.963 39.7502 698.474 38.5C693.065 35.4093 695.329 24.7134 701.55 23.8105C704.471 23.2723 707.495 24.1057 710.312 24.7134C713.733 25.2343 720.594 27.4916 717.397 31.8672L717.207 32.0755Z" fill="#434F1A"/>
          <path d="M101.69 52.8895C102.776 45.546 102.689 37.0045 94.6451 33.706C91.1403 32.0741 86.4439 33.272 85.3749 37.2823C83.0968 42.2648 87.8633 53.9659 83.3422 56.8304C81.0465 57.7852 77.8922 53.584 77.4191 50.7542C76.0522 44.8689 77.0861 37.4385 72.4423 32.6123C69.5684 29.3832 63.9257 28.5672 61.192 31.8484C58.248 35.5289 59.7375 40.8759 60.7364 45.1988C62.2259 50.6153 63.6804 56.2054 64.1535 61.674C64.7318 67.3162 64.9947 75.5278 71.7414 77.1597C76.6305 78.1146 81.6599 74.5209 86.6191 75.3716C92.1216 76.4653 99.0436 79.1389 101.882 72.7154C104.844 66.4482 101.269 59.4519 101.655 53.1847V52.8548L101.69 52.8895Z" fill="#434F1A"/>
          <path d="M205.374 27.2152C210.354 28.2727 214.116 35.8866 208.839 38.9886C204.033 41.8614 195.36 36.6621 192.104 42.5664C190.989 46.4086 196.632 46.9903 199.522 47.8186C203.563 48.4179 209.257 53.5996 204.486 56.9483C201.96 59.3453 191.407 56.7544 191.494 60.9139C193.967 64.7738 200.48 63.5576 204.468 64.7914C209.1 65.4435 214.377 69.1095 211.016 73.6567C205.565 80.1426 180.21 79.5258 174.55 70.5195C170.753 64.5975 175.595 56.7016 175.699 49.8631C176.692 43.7473 172.112 37.2261 174.672 31.4451C179.443 25.1531 188.464 26.9861 195.5 26.4749C198.669 26.4397 202.048 26.3339 205.095 27.127L205.391 27.2152H205.374ZM192.191 52.4187C191.843 52.3482 191.442 52.8241 191.477 53.0356C191.825 52.9651 192.086 52.6478 192.191 52.4187ZM193.793 73.6743C193.41 73.3218 192.905 73.8153 193.514 73.8505C193.584 73.8505 193.828 73.7095 193.793 73.6743ZM178.59 71.1539C178.799 71.0129 177.98 70.7486 178.311 71.1187C178.311 71.1187 178.59 71.1892 178.59 71.1539Z" fill="#434F1A"/>
          <path d="M255.52 46.0448C265.535 37.226 264.416 21.07 252.322 14.6676C247.515 11.775 241.765 11.8279 236.207 10.7167C232.834 10.0994 229.164 9.39393 225.861 10.558C220.914 12.2336 219.044 17.6483 218.188 22.4104C216.073 31.1587 219.376 39.8011 219.674 48.5317C220.11 54.8283 217.803 60.8779 217.384 67.0687C216.912 75.1115 225.127 77.5278 229.391 71.0548C231.733 68.903 232.17 56.6978 235.316 60.3665C236.802 62.3771 237.518 65.2521 238.742 67.545C240.926 71.972 244.702 76.0462 249.141 76.5754C254.139 77.3514 258.439 72.7833 258.159 67.8271C258.753 59.9079 247.445 53.1174 255.328 46.2741L255.555 46.0448H255.52ZM249.333 33.575C247.743 35.1447 244.946 35.0918 242.954 35.8679C241.293 36.4676 239.755 37.9491 237.815 38.5135C229.216 40.7359 226.228 29.1656 232.974 24.9679C236.557 23.1512 241.084 24.8621 244.806 25.6734C248.651 26.2554 252.531 29.5537 249.543 33.3634L249.333 33.575Z" fill="#434F1A"/>
          <path d="M186.366 7.03682C181.535 1.4513 173.256 5.63606 167.043 5.72361C161.512 6.0738 155.841 3.34232 150.275 4.13024C143.518 5.75862 137.69 8.36753 130.461 8.92783C123.687 10.6963 117.018 10.6963 110.332 8.84029C106.937 8.19244 103.383 8.1224 100.075 9.20799C94.1591 10.7838 88.4881 17.4024 94.2117 22.0424C97.6073 24.6688 103.208 24.6163 106.411 27.4528C111.89 32.4255 112.012 42.1433 112.012 49.3221C111.82 55.8181 108.214 62.1566 108.984 68.7226C109.755 80.1913 124.58 86.057 129.533 73.8529C131.756 67.8296 130.216 61.2461 129.971 55.0127C129.446 47.7113 130.198 40.0771 129.551 32.7932C129.393 30.2719 129.148 27.2777 131.406 25.6844C133.489 24.126 137.9 23.9509 141.208 22.7603C145.549 21.0794 148.822 21.2895 149.802 26.5949C152.007 38.4137 147.457 50.075 147.754 61.7013C147.754 67.602 152.375 75.7264 159.149 73.135C170.508 67.4969 165.677 37.048 167.48 25.7369C168.478 19.5035 174.814 20.6066 180.205 19.3985C185.491 18.4705 189.692 11.7644 186.559 7.24692L186.401 7.01931L186.366 7.03682Z" fill="#434F1A"/>
          <path d="M58.6876 59.5378C58.1652 53.8017 55.1874 48.0657 50.5554 44.5574C48.6747 42.9085 45.5403 41.8385 44.5651 39.4704C44.1646 38.26 44.9134 36.8567 46.1846 35.2078C48.7966 32.103 51.0952 28.3491 51.4783 24.1918C52.3664 17.3681 48.518 9.94812 42.0401 7.56249C37.9828 5.94867 33.3507 6.35212 29.1889 5.1593C21.0045 2.17726 9.02392 -4.19028 2.30226 4.17699C-4.90698 16.649 7.12583 30.0857 7.03877 42.8559C7.2129 50.8723 4.04362 58.6432 4.25259 66.6421C4.84465 78.6229 13.3077 80.5524 23.1812 77.1319C31.3482 74.9041 40.2814 78.2896 48.2742 75.5882C55.0133 73.6411 59.5234 66.9227 58.705 59.8886L58.6702 59.5553L58.6876 59.5378ZM18.375 22.4376C18.3228 17.8768 22.1712 16.456 26.1589 17.2278C28.8232 17.7716 31.7313 17.3682 34.2737 18.5083C38.1917 20.2976 37.1643 27.6124 32.9328 28.7175C29.6591 29.5595 25.2534 27.7878 22.119 26.9107C19.9423 26.2441 18.375 24.8233 18.375 22.7534V22.4552V22.4376ZM41.7964 61.5901C37.4604 64.081 31.8009 63.7653 26.8729 62.6952C23.3553 61.7129 22.2234 58.152 22.4846 54.4157C22.6762 51.4862 23.216 46.8202 26.7858 46.6799C32.602 47.9955 39.1843 51.0302 42.1969 56.5031C43.0153 58.0292 43.3636 60.1342 42.0053 61.3972L41.7964 61.5726V61.5901Z" fill="#434F1A"/>
          <path d="M988.484 51.7028C985.674 41.6483 974.396 37.3292 970.268 27.9916C967.23 21.2244 967.95 11.1874 960.08 7.76006C952.439 4.57758 942.357 8.47699 937.544 14.9294C928.972 27.3621 931.343 42.9597 929.885 57.1585C929.235 63.6808 923.298 70.378 925.406 77.0402C929.463 85.2063 942.743 82.1462 946.801 75.3965C951.456 69.5736 949.734 58.4524 956.181 54.4656C964.595 50.6012 967.985 64.9923 976.012 66.4786C983.706 69.154 990.943 59.3267 988.59 52.035L988.502 51.7203L988.484 51.7028ZM947.732 33.6396C947.064 29.8276 946.537 23.4626 948.68 19.9829C950.402 17.7621 953.511 21.137 954.055 23.3053C954.828 27.1172 956.269 31.9085 955.004 35.7904C953.23 39.9346 948.557 37.3467 947.819 33.9718L947.732 33.6571V33.6396Z" fill="#434F1A"/>
          <path d="M923.974 55.4769C918.403 63.4825 904.262 51.9032 902.843 65.5846C901.565 71.1203 903.375 79.5639 897.573 82.8223C894.131 84.4339 888.879 81.4734 886.679 77.2866C883.095 70.5072 886.431 62.7468 887.673 55.7922C888.986 50.0989 888.312 44.4231 886.112 39.0801C882.457 30.654 879.547 18.5842 889.252 13.5741C894.255 11.2267 900.572 13.2763 905.628 10.8588C909.602 9.14207 913.08 5.41077 917.356 4.32466C927.309 1.73202 928.427 14.6777 925.57 22.1053C923.938 27.1855 918.633 29.1825 913.506 29.673C909.851 30.2161 906.143 31.0044 904.865 34.543C904.262 36.2597 904.652 38.3093 906.125 39.4655C908.804 41.7604 914.765 40.5691 919.041 42.3735C924.222 44.0727 927.114 50.5718 924.133 55.2491L923.974 55.4944V55.4769Z" fill="#434F1A"/>
          <path d="M1037.21 49.5278C1027.72 46.9427 1036.92 43.3903 1039.34 37.288C1048.93 17.2223 1025.99 6.84659 1009.59 13.0369C998.918 15.5868 992.281 26.4198 991.771 37.0594C991.26 42.7748 993.162 48.5254 993.32 54.153C993.531 60.7653 990.186 67.7997 993.267 74.1482C997.369 83.2578 1009.69 82.6423 1012.95 73.0403C1014.69 67.8349 1015.13 63.2449 1020.45 66.8852C1044.81 88.3929 1062.98 59.3056 1037.5 49.6333L1037.21 49.5278ZM1027.07 28.8467C1028.46 34.1225 1023.47 37.5342 1019.18 39.6269C1016.89 40.4535 1012.7 39.0642 1012.23 36.4438C1011.24 31.3087 1024.11 20.7923 1026.98 28.5301L1027.07 28.8643V28.8467Z" fill="#434F1A"/>
          <path d="M1102.02 38.7221C1100.68 35.1565 1097.84 32.469 1096.32 28.9912C1094.52 25.0919 1093.67 19.84 1089.42 17.6093C1086.41 15.8704 1083.24 14.4301 1080.8 11.8832C1077 7.50956 1071.84 4.27765 1065.65 5.61257C1053.94 7.63251 1053.9 20.3669 1050.12 29.2547C1048.46 32.873 1045.66 36.1401 1044.81 40.057C1043.16 46.2925 1049.34 51.7375 1055.42 50.3148C1059.9 49.7 1062.49 45.3967 1065.46 42.6566C1065.7 42.5512 1065.83 42.6917 1065.9 42.9552C1066.23 44.0266 1064.9 48.734 1065.56 51.9308C1067.4 59.6065 1073.85 57.007 1079.4 56.2341C1080.45 56.2341 1081.36 56.6732 1081.63 57.7096C1082.3 59.6417 1080.9 63.3654 1080.8 66.5446C1080.48 71.5857 1084.45 76.5916 1089.61 76.6619C1105.49 75.7485 1105.66 50.4729 1102.16 39.0207L1102.06 38.7221H1102.02Z" fill="#434F1A"/>
        </svg>
    </div>


  </section>

  {% section 'home-shop-links' %}

  <section class="home-collage">

    <div class="border secondary-border">
      <h2>petal to the metal  petal to the metal  petal to the metal  petal to the metal  petal to the metal  petal to the metal  petal to the metal  petal to the metal  petal to the metal  petal to the metal  petal to the metal  petal to the metal  petal to the metal  petal to the metal  petal to the metal  petal to the metal  petal to the metal  petal to the metal  petal to the metal  petal to the metal  petal to the metal  </h2>
    </div>

<!-- Row 1 -->
    <div class="row-1 container">
      <img
        class="home-1"
        src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/home-1.png?v=1758646115"
        alt="Butter Flower Farm collage image"
        style="max-width:100%;height:auto;"
      >
    </div>
<!-- Row 2 -->
    <div class="row-2 container">
      <img
        class="home-2"
        src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/home-2.png?v=1758646115"
        alt="Butter Flower Farm collage image"
        style="height:auto;"
      >

      <img
        class="home-3"
        src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/home-3.png?v=1758646116"
        alt="Butter Flower Farm collage image"
        style="height:auto;"
      >
      <img
        class="home-4"
        src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/home-4.png?v=1758646115"
        alt="Butter Flower Farm collage image"
        style="height:auto;"
      >

      <img
        class="home-5"
        src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/home-5.png?v=1758646115"
        alt="Butter Flower Farm collage image"
        style="height:auto;"
      >
    </div>

<!-- Row 3 -->
    <div class="row-3 container">
      <h2>{% section 'home-collage-text' %}</h2>
    </div>

<!-- Row 4 -->
    <div class="row-4 container">
      <svg width="171" height="112" viewBox="0 0 171 112" fill="none" xmlns="http://www.w3.org/2000/svg">
        <ellipse cx="85.1198" cy="55.9601" rx="79.5864" ry="45.3246" transform="rotate(-8 85.1198 55.9601)" fill="white" stroke="#434F1A" stroke-width="0.893698" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="5.36 5.36"/>
        <path d="M127.537 47.048L127.686 48.1047L122.414 48.8455L121.189 40.1248L126.387 39.3942L126.536 40.4509L122.309 41.0449L122.683 43.7048L126.582 43.1569L126.73 44.2136L122.831 44.7615L123.238 47.6523L127.537 47.048Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M120.382 42.8375L119.471 42.9655C119.367 42.4848 119.258 42.24 119.047 41.9724C118.677 41.5414 118.105 41.3493 117.437 41.4431C116.416 41.5865 115.9 42.2289 116.033 43.1763C116.12 43.7957 116.425 44.1121 117.03 44.188L119.151 44.4721C120.26 44.6134 120.933 45.3487 121.108 46.5875C121.338 48.2272 120.42 49.3596 118.658 49.6071C117.565 49.7607 116.815 49.5318 116.161 48.8434C115.712 48.3862 115.507 47.8948 115.363 46.9613L116.274 46.8333C116.367 47.4024 116.481 47.6837 116.721 47.9843C117.128 48.4969 117.764 48.7048 118.565 48.5921C119.731 48.4283 120.322 47.7878 120.188 46.8283C120.07 45.9902 119.684 45.7101 118.458 45.5356L116.93 45.3292C115.883 45.1915 115.274 44.5587 115.118 43.4534C115.019 42.749 115.146 42.0624 115.454 41.5236C115.814 40.9156 116.433 40.5562 117.295 40.435C118.376 40.2831 119.263 40.6043 119.798 41.3219C120.076 41.7163 120.212 42.0687 120.382 42.8375Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M115.254 48.7738L115.403 49.8305L110.131 50.5713L108.906 41.8506L114.104 41.12L114.253 42.1767L110.026 42.7707L110.4 45.4307L114.299 44.8827L114.447 45.9394L110.548 46.4874L110.955 49.3781L115.254 48.7738Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M107.192 45.7695L106.685 42.1621L107.657 42.0256L108.882 50.7463L107.911 50.8829L107.341 46.8262L103.612 47.3502L104.182 51.4069L103.21 51.5435L101.985 42.8228L102.956 42.6862L103.463 46.2935L107.192 45.7695Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M95.8404 44.7637L95.6919 43.707L101.51 42.8894L101.658 43.9461L99.2413 44.2858L100.318 51.9498L99.3467 52.0864L98.2696 44.4223L95.8404 44.7637Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M88.3631 53.6309L87.1375 44.9102L90.0403 44.5022C91.8743 44.2444 93.2881 45.755 93.6517 48.3421C93.8548 49.7874 93.6645 51.0775 93.1264 52.0078C92.7259 52.6833 92.0554 53.112 91.2295 53.2281L88.3631 53.6309ZM88.2508 45.7817L89.1931 52.4862L91.0635 52.2234C92.351 52.0424 92.9612 50.6561 92.6693 48.5792C92.3655 46.4172 91.433 45.3345 90.0605 45.5274L88.2508 45.7817Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M87.2686 52.7069L87.4171 53.7636L82.1458 54.5044L80.9202 45.7837L86.1186 45.0531L86.2671 46.1098L82.0403 46.7038L82.4142 49.3638L86.313 48.8158L86.4615 49.8725L82.5627 50.4205L82.969 53.3112L87.2686 52.7069Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M76.3829 52.1926L76.813 55.2534L75.8413 55.3899L74.6157 46.6692L75.5874 46.5326L76.1814 50.7594L79.0611 46.0444L80.3972 45.8567L77.9043 49.7989L81.6957 54.5672L80.4446 54.743L77.3281 50.7221L76.3829 52.1926Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M74.1599 49.408L73.2246 49.5395C72.9695 48.8694 72.7655 48.5636 72.3689 48.2973C71.9878 48.0536 71.5024 47.9484 71.0044 48.0184C69.5226 48.2267 68.8237 49.6873 69.1395 51.9343C69.4502 54.1449 70.4796 55.3007 71.9371 55.0959C72.6051 55.002 73.0743 54.6388 73.3915 53.9873C73.5919 53.5628 73.6639 53.1935 73.7038 52.42L74.639 52.2885C74.589 53.6952 74.4105 54.3643 73.9425 54.9998C73.4883 55.6458 72.7901 56.0536 72.0006 56.1645C70.033 56.441 68.5327 54.8436 68.1384 52.0379C67.7407 49.2079 68.7789 47.2536 70.8316 46.9651C71.9004 46.8149 72.8571 47.1883 73.4918 48.0033C73.8222 48.4151 73.9793 48.7398 74.1599 49.408Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M66.5582 47.8019L67.7838 56.5227L66.8243 56.6575L65.5986 47.9368L66.5582 47.8019Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M61.2482 53.6874L61.7654 57.3676L60.7937 57.5042L59.5681 48.7834L62.7746 48.3328C64.05 48.1536 65.0384 49.0179 65.2467 50.4997C65.4652 52.0544 64.7705 53.1924 63.483 53.3733L61.2482 53.6874ZM60.6815 49.655L61.1065 52.6793L63.0134 52.4113C63.9851 52.2748 64.3992 51.6964 64.2558 50.6761C64.1142 49.668 63.5843 49.247 62.6248 49.3819L60.6815 49.655Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M57.2395 56.9266L57.3881 57.9833L52.1167 58.7242L50.8911 50.0034L56.0896 49.2728L56.2381 50.3295L52.0113 50.9236L52.3851 53.5835L56.284 53.0356L56.4325 54.0923L52.5336 54.6402L52.9399 57.5309L57.2395 56.9266Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M46.0094 52.1634L45.3679 59.6726L44.3476 59.816L41.2637 51.3564L42.3082 51.2096L44.6601 58.162L45.2718 50.7931L46.3285 50.6446L48.9476 57.5594L49.28 50.2298L50.3488 50.0796L49.6918 59.065L48.6716 59.2083L46.0094 52.1634Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M142.84 53.7851L145.183 53.4558L145.212 53.6634C144.935 53.7305 144.759 53.8682 144.683 54.0764C144.644 54.1706 144.599 54.4531 144.549 54.9239L144.345 57.3051C143.779 57.7798 143.146 58.0663 142.446 58.1646C141.513 58.2958 140.739 58.0699 140.125 57.4869C139.608 56.995 139.285 56.2885 139.156 55.3673C139.057 54.6635 139.08 53.9507 139.224 53.2289C139.465 52.0459 139.985 51.0999 140.785 50.3909C141.348 49.8924 141.947 49.5985 142.584 49.509C142.928 49.4607 143.291 49.4923 143.674 49.6038C143.922 49.6738 144.089 49.7027 144.176 49.6905C144.31 49.6716 144.452 49.5186 144.601 49.2316L144.797 49.2041L144.684 51.8023L144.483 51.8306C144.486 51.6245 144.477 51.4483 144.457 51.3021C144.39 50.8237 144.203 50.4588 143.898 50.2074C143.573 49.9345 143.182 49.8303 142.723 49.8947C142.027 49.9925 141.456 50.3752 141.009 51.0427C140.607 51.6476 140.37 52.4308 140.299 53.3922C140.254 54.0155 140.275 54.6355 140.361 55.2523C140.453 55.9047 140.602 56.4341 140.808 56.8405C140.965 57.1531 141.188 57.3879 141.476 57.545C141.777 57.7123 142.112 57.77 142.48 57.7184C142.765 57.6784 143.037 57.5635 143.296 57.3738L143.499 55.0714C143.53 54.7163 143.537 54.4854 143.522 54.3786C143.479 54.0663 143.271 53.9362 142.899 53.9885L142.822 53.9993L142.84 53.7851Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M132.487 51.1223L134.16 50.8872L137.203 56.6645L137.632 51.7539C137.66 51.4395 137.665 51.2151 137.646 51.0806C137.603 50.7762 137.404 50.647 137.047 50.6931L137.066 50.4788L138.863 50.2263L138.844 50.4405C138.589 50.4924 138.397 50.6021 138.268 50.7695C138.143 50.9482 138.055 51.3195 138.001 51.8835L137.387 58.8763L137.185 58.9046L133.879 52.5475L133.411 57.9111C133.383 58.2295 133.377 58.446 133.393 58.5606C133.435 58.8532 133.65 58.9822 134.04 58.9475L134.022 59.1617L132.362 59.3951L132.332 59.1875C132.507 59.171 132.66 59.0688 132.791 58.8811C132.876 58.7684 132.938 58.6025 132.975 58.3835C132.994 58.2881 133.018 58.0691 133.046 57.7264L133.554 51.9581C133.412 51.6958 133.256 51.5142 133.084 51.4133C132.947 51.3277 132.766 51.2988 132.54 51.3265L132.469 51.3365L132.487 51.1223Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M129.421 51.5526L131.805 51.2175L131.787 51.4318L131.745 51.4376C131.5 51.4721 131.314 51.6111 131.187 51.8547C131.101 52.016 131.04 52.3007 131.005 52.7089L130.517 58.2749C130.488 58.6136 130.483 58.8502 130.502 58.9846C130.525 59.1506 130.612 59.2655 130.762 59.329C130.856 59.3682 130.95 59.3811 131.045 59.3678L131.093 59.3611L131.075 59.5754L128.874 59.8846L128.845 59.677L128.881 59.672C129.208 59.5898 129.403 59.1732 129.467 58.4224L129.955 52.8564C129.985 52.4974 129.992 52.2605 129.976 52.1459C129.951 51.968 129.872 51.852 129.74 51.7981C129.641 51.7595 129.543 51.7471 129.444 51.761L129.403 51.7668L129.421 51.5526Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M122.026 52.5937L123.699 52.3587L126.742 58.1359L127.171 53.2254C127.199 52.9109 127.204 52.6865 127.185 52.5521C127.142 52.2476 126.943 52.1184 126.586 52.1645L126.605 51.9502L128.402 51.6977L128.383 51.9119C128.129 51.9639 127.936 52.0735 127.807 52.2409C127.683 52.4197 127.594 52.791 127.54 53.3549L126.926 60.3477L126.724 60.3761L123.418 54.0189L122.95 59.3825C122.922 59.7009 122.916 59.9174 122.932 60.0321C122.974 60.3246 123.189 60.4536 123.58 60.4189L123.561 60.6331L121.901 60.8665L121.871 60.659C122.047 60.6424 122.2 60.5403 122.33 60.3525C122.415 60.2398 122.477 60.0739 122.514 59.855C122.533 59.7596 122.557 59.5405 122.585 59.1979L123.093 53.4295C122.951 53.1672 122.795 52.9856 122.623 52.8847C122.486 52.7991 122.305 52.7702 122.079 52.7979L122.008 52.8079L122.026 52.5937Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M117.334 57.4199L117.09 60.1635C117.061 60.5022 117.056 60.7388 117.075 60.8732C117.117 61.1737 117.322 61.2981 117.69 61.2464L117.749 61.2381L117.731 61.4523L115.388 61.7816L115.359 61.574L115.401 61.5682C115.583 61.5426 115.726 61.4297 115.831 61.2295C115.935 61.0253 116.005 60.7192 116.041 60.311L116.528 54.7451C116.559 54.386 116.566 54.1551 116.552 54.0523C116.527 53.8744 116.439 53.7536 116.289 53.6901C116.191 53.6514 116.077 53.6413 115.946 53.6596L115.875 53.6696L115.894 53.4554L117.999 53.1595C118.754 53.0534 119.346 53.1053 119.775 53.3152C120.306 53.571 120.617 54.0133 120.705 54.6419C120.809 55.3813 120.553 56.03 119.938 56.5882C119.642 56.8597 119.284 57.0652 118.864 57.2049C118.998 57.4158 119.144 57.6815 119.302 58.002L120.174 59.7724C120.405 60.236 120.599 60.5311 120.758 60.658C120.855 60.7412 120.998 60.7734 121.189 60.7547L121.242 60.7472L121.224 60.9614L119.718 61.1731L117.884 57.4212C117.666 57.4478 117.483 57.4473 117.334 57.4199ZM117.365 57.0405C117.583 57.0704 117.801 57.07 118.018 57.0395C118.536 56.9667 118.933 56.7375 119.21 56.3519C119.536 55.8908 119.655 55.3479 119.567 54.7232C119.506 54.2843 119.349 53.9615 119.099 53.7549C118.851 53.5437 118.548 53.4634 118.188 53.514C118.026 53.5368 117.849 53.5959 117.656 53.6915L117.365 57.0405Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M111.946 53.8144C112.543 53.7304 113.067 53.8725 113.518 54.2406C114.088 54.7088 114.433 55.3739 114.554 56.2358C114.676 57.1017 114.609 58.0182 114.354 58.9854C114.068 60.074 113.601 60.9439 112.955 61.5951C112.404 62.1483 111.796 62.4716 111.132 62.565C110.59 62.6411 110.094 62.5254 109.644 62.2177C109.018 61.7855 108.636 61.0712 108.496 60.0749C108.379 59.2446 108.44 58.3732 108.679 57.4607C108.967 56.3598 109.439 55.4729 110.095 54.8002C110.637 54.2402 111.254 53.9116 111.946 53.8144ZM111.816 54.2197C111.08 54.3231 110.521 54.9943 110.139 56.2334C109.908 56.9714 109.757 57.787 109.685 58.6801C109.632 59.3366 109.645 59.9476 109.724 60.513C109.774 60.8688 109.86 61.1753 109.981 61.4325C110.103 61.7016 110.274 61.8993 110.493 62.0257C110.717 62.1516 110.967 62.1951 111.244 62.1562C112.125 62.0322 112.75 61.126 113.117 59.4374C113.265 58.7636 113.355 58.0614 113.39 57.3308C113.417 56.8109 113.402 56.3413 113.343 55.9222C113.167 54.6689 112.658 54.1014 111.816 54.2197Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M99.8927 55.7037L101.921 55.4186L103.366 61.614L106.179 54.8202L107.982 54.5668L107.964 54.781L107.81 54.8027C107.521 54.8433 107.317 54.9848 107.198 55.2273C107.113 55.3965 107.052 55.6812 107.016 56.0815L106.528 61.6475C106.499 61.9862 106.494 62.2227 106.513 62.3572C106.555 62.6577 106.76 62.7821 107.128 62.7304L107.347 62.6995L107.329 62.9138L104.381 63.328L104.399 63.1138L104.459 63.1055C104.787 63.0633 105.024 62.9676 105.168 62.8183C105.324 62.6673 105.428 62.3262 105.478 61.795L105.963 56.2536L102.958 63.5281L102.774 63.5539L101.201 56.9229L100.696 62.6667C100.678 62.8829 100.676 63.0424 100.691 63.1452C100.736 63.4654 100.95 63.5986 101.333 63.5447L101.41 63.5339L101.392 63.7481L99.613 63.9982L99.5719 63.7923C100.006 63.7232 100.257 63.3189 100.327 62.5794L100.826 56.8365C100.847 56.6118 100.848 56.4322 100.829 56.2978C100.799 56.0883 100.704 55.9565 100.544 55.9025C100.43 55.8661 100.258 55.864 100.029 55.8962L99.8744 55.9179L99.8927 55.7037Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M94.9913 56.2029L94.8682 58.9417L94.6725 58.9692C94.6547 58.8427 94.6411 58.7458 94.6316 58.6786C94.5505 58.1014 94.3928 57.682 94.1585 57.4206C93.9957 57.2379 93.7871 57.1019 93.5327 57.0127C93.2777 56.9195 93.0237 56.8907 92.7706 56.9263C92.4346 56.9735 92.1722 57.1434 91.9835 57.436C91.8021 57.7236 91.7354 58.0374 91.7832 58.3774C91.8237 58.666 91.9637 58.9588 92.2029 59.2558C92.3392 59.4221 92.7077 59.7493 93.3085 60.2374C93.7735 60.6196 94.1248 60.9532 94.3624 61.2384C94.6778 61.6174 94.866 62.0243 94.9271 62.4593C95.0088 63.0405 94.8859 63.5859 94.5584 64.0956C94.1889 64.6797 93.6345 65.0237 92.8951 65.1276C92.5907 65.1704 92.3056 65.1641 92.0397 65.1088C91.9026 65.0797 91.7108 65.0199 91.4642 64.9296C91.2679 64.8524 91.1203 64.8207 91.0215 64.8346C90.8198 64.8629 90.6754 65.0687 90.5881 65.4519L90.3806 65.481L90.4502 62.405L90.6519 62.3767C90.6669 62.4835 90.678 62.5625 90.6852 62.6139C90.7808 63.294 90.933 63.7746 91.1418 64.0557C91.3264 64.3079 91.5482 64.4945 91.8071 64.6153C92.066 64.7362 92.3319 64.7774 92.6047 64.7391C93.0277 64.6796 93.3551 64.4562 93.587 64.0688C93.7927 63.7254 93.8656 63.3402 93.8056 62.9132C93.75 62.5178 93.5693 62.1501 93.2635 61.8101C93.1007 61.6273 92.7747 61.3305 92.2856 60.9194C91.7147 60.4433 91.3366 60.0771 91.1514 59.8209C90.9325 59.5251 90.7999 59.2131 90.7538 58.8849C90.6738 58.3156 90.8059 57.8071 91.1503 57.3596C91.5008 56.8991 91.9766 56.6266 92.5775 56.5421C92.9413 56.491 93.3991 56.5497 93.9509 56.718C94.0903 56.763 94.1975 56.7801 94.2726 56.7696C94.4861 56.7396 94.6506 56.5612 94.7659 56.2346L94.9913 56.2029Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M87.3488 57.4654L89.7329 57.1304L89.7147 57.3446L89.6732 57.3504C89.428 57.3849 89.2419 57.5239 89.1149 57.7676C89.0287 57.9289 88.9679 58.2136 88.9326 58.6217L88.4448 64.1877C88.4158 64.5264 88.4107 64.763 88.4296 64.8974C88.453 65.0635 88.5397 65.1783 88.6897 65.2419C88.7839 65.2811 88.8785 65.294 88.9734 65.2806L89.0208 65.274L89.0025 65.4882L86.8023 65.7974L86.7731 65.5899L86.8087 65.5849C87.1358 65.5026 87.3313 65.0861 87.3951 64.3352L87.8829 58.7693C87.913 58.4102 87.9201 58.1734 87.9039 58.0587C87.8789 57.8808 87.8002 57.7649 87.6676 57.7109C87.5694 57.6723 87.4709 57.6599 87.3721 57.6738L87.3306 57.6797L87.3488 57.4654Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M79.8649 58.518L82.4921 58.1488L82.473 58.3571L82.3544 58.3737C82.0658 58.4143 81.8619 58.5558 81.7428 58.7984C81.6577 58.9676 81.5989 59.252 81.5664 59.6517L81.3569 62.0337L84.1798 61.637L84.3834 59.2558C84.4153 58.9086 84.4234 58.6797 84.4078 58.569C84.3634 58.2527 84.1573 58.1204 83.7896 58.172L83.6888 58.1862L83.7079 57.9779L86.3648 57.6045L86.3457 57.8128L86.233 57.8286C85.9405 57.8697 85.7346 58.0116 85.6155 58.2541C85.5343 58.4227 85.4755 58.7072 85.4391 59.1074L84.9521 64.6793C84.922 65.0101 84.9169 65.2467 84.937 65.389C84.9792 65.6895 85.1841 65.8139 85.5518 65.7623L85.6467 65.7489L85.6344 65.9623L82.9775 66.3357L82.9958 66.1215L83.0491 66.114C83.3575 66.0706 83.5792 65.9266 83.7141 65.6819C83.7998 65.5166 83.8605 65.2319 83.8965 64.8277L84.1425 62.0172L81.3255 62.4131L81.0794 65.2236C81.0493 65.5544 81.0443 65.791 81.0643 65.9333C81.1065 66.2338 81.3095 66.3585 81.6732 66.3074L81.78 66.2924L81.7617 66.5066L79.2649 66.8575L79.2357 66.6499L79.3069 66.6399C79.5244 66.6094 79.6878 66.4957 79.7972 66.2989C79.91 66.0975 79.9856 65.7886 80.0238 65.372L80.5107 59.8001C80.542 59.4489 80.5502 59.22 80.5352 59.1132C80.4907 58.7969 80.2827 58.6649 79.911 58.7171L79.8458 58.7263L79.8649 58.518Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M77.0103 59.2935L76.4356 65.8756C76.4054 66.2064 76.4004 66.443 76.4204 66.5853C76.4448 66.7593 76.5293 66.8724 76.6737 66.9247C76.7962 66.9639 76.9878 66.9652 77.2488 66.9285L77.3022 66.921L77.2839 67.1352L74.3423 67.5487L74.3606 67.3344L74.4495 67.3219C74.7105 67.2852 74.8896 67.2258 74.9869 67.1436C75.1278 67.027 75.2281 66.8516 75.2879 66.6175C75.3272 66.4668 75.3579 66.2689 75.3799 66.0239L75.9547 59.4418L75.759 59.4693C75.0987 59.5621 74.6296 59.7813 74.3515 60.1268C74.0956 60.4288 73.9379 60.8844 73.8784 61.4935L73.6767 61.5219L73.8629 59.3609L79.2538 58.6032L79.0617 60.7651L78.8601 60.7934C78.8729 60.3683 78.8715 60.1003 78.856 59.9896C78.8082 59.6496 78.6803 59.4136 78.4722 59.2815C78.3358 59.1999 78.1673 59.1631 77.9668 59.1711C77.8748 59.176 77.7576 59.1884 77.6153 59.2084L77.0103 59.2935Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M69.0509 59.8494L68.9278 62.5882L68.7321 62.6157C68.7143 62.4892 68.7007 62.3923 68.6912 62.3251C68.6101 61.7478 68.4524 61.3285 68.2181 61.0671C68.0553 60.8844 67.8467 60.7484 67.5923 60.6592C67.3373 60.566 67.0832 60.5372 66.8302 60.5727C66.4941 60.62 66.2317 60.7899 66.0431 61.0825C65.8617 61.3701 65.7949 61.6839 65.8427 62.0239C65.8833 62.3125 66.0232 62.6053 66.2625 62.9023C66.3988 63.0686 66.7673 63.3958 67.3681 63.8839C67.8331 64.2661 68.1844 64.5997 68.422 64.8848C68.7373 65.2639 68.9256 65.6708 68.9867 66.1057C69.0684 66.6869 68.9455 67.2324 68.6179 67.7421C68.2485 68.3262 67.6941 68.6702 66.9547 68.7741C66.6503 68.8169 66.3651 68.8106 66.0993 68.7553C65.9622 68.7261 65.7703 68.6664 65.5238 68.5761C65.3275 68.4988 65.1799 68.4672 65.0811 68.4811C64.8794 68.5094 64.735 68.7152 64.6477 69.0984L64.4401 69.1275L64.5098 66.0515L64.7114 66.0232C64.7264 66.1299 64.7375 66.209 64.7448 66.2604C64.8403 66.9405 64.9925 67.421 65.2014 67.7021C65.386 67.9544 65.6078 68.1409 65.8667 68.2618C66.1256 68.3826 66.3914 68.4239 66.6642 68.3856C67.0873 68.3261 67.4147 68.1027 67.6465 67.7153C67.8523 67.3719 67.9251 66.9867 67.8651 66.5597C67.8096 66.1643 67.6289 65.7966 67.323 65.4566C67.1603 65.2738 66.8343 64.9769 66.3451 64.5659C65.7742 64.0897 65.3962 63.7236 65.211 63.4674C64.992 63.1716 64.8595 62.8596 64.8134 62.5314C64.7334 61.9621 64.8655 61.4536 65.2098 61.0061C65.5604 60.5456 66.0361 60.2731 66.6371 60.1886C67.0009 60.1375 67.4586 60.1961 68.0105 60.3645C68.1498 60.4094 68.2571 60.4266 68.3322 60.4161C68.5457 60.3861 68.7101 60.2077 68.8255 59.8811L69.0509 59.8494Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M55.8638 61.8919L57.8921 61.6068L59.3374 67.8023L62.1503 61.0084L63.9532 60.755L63.9349 60.9693L63.7807 60.9909C63.4921 61.0315 63.2882 61.173 63.1691 61.4156C63.084 61.5848 63.0233 61.8695 62.9868 62.2697L62.499 67.8357C62.47 68.1744 62.4649 68.411 62.4838 68.5454C62.5261 68.8459 62.731 68.9703 63.0987 68.9186L63.3181 68.8878L63.2999 69.102L60.3524 69.5163L60.3706 69.302L60.4299 69.2937C60.7587 69.2515 60.9952 69.1558 61.1395 69.0065C61.2957 68.8555 61.3989 68.5144 61.4493 67.9832L61.9345 62.4418L58.929 69.7163L58.7452 69.7421L57.1722 63.1111L56.667 68.8549C56.6491 69.0711 56.6473 69.2306 56.6617 69.3334C56.7067 69.6537 56.921 69.7868 57.3045 69.7329L57.3816 69.7221L57.3633 69.9363L55.5841 70.1864L55.5431 69.9805C55.9769 69.9115 56.2285 69.5072 56.298 68.7677L56.7972 63.0247C56.818 62.8 56.819 62.6205 56.8001 62.4861C56.7706 62.2765 56.6755 62.1447 56.5147 62.0907C56.4007 62.0543 56.2291 62.0522 55.9998 62.0845L55.8456 62.1061L55.8638 61.8919Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M52.1301 62.2208C52.7271 62.1369 53.2511 62.279 53.7019 62.647C54.2717 63.1153 54.6172 63.7804 54.7383 64.6423C54.86 65.5082 54.7933 66.4247 54.5381 67.3919C54.2516 68.4805 53.7853 69.3504 53.139 70.0016C52.5877 70.5548 51.98 70.8781 51.3158 70.9715C50.7741 71.0476 50.2781 70.9319 49.8276 70.6242C49.2024 70.192 48.8198 69.4777 48.6798 68.4814C48.5631 67.6511 48.6241 66.7797 48.8627 65.8672C49.1515 64.7663 49.6236 63.8794 50.279 63.2067C50.8212 62.6467 51.4382 62.3181 52.1301 62.2208ZM51.9996 62.6262C51.2642 62.7296 50.7054 63.4008 50.3231 64.6399C50.0922 65.3779 49.9407 66.1935 49.8687 67.0866C49.8158 67.7431 49.8291 68.3541 49.9086 68.9195C49.9586 69.2753 50.044 69.5818 50.1648 69.839C50.2873 70.1081 50.4582 70.3058 50.6776 70.4322C50.9009 70.5581 51.1509 70.6015 51.4277 70.5627C52.3094 70.4387 52.9339 69.5325 53.3014 67.8439C53.4486 67.1701 53.5394 66.4679 53.5738 65.7373C53.6015 65.2173 53.5859 64.7478 53.527 64.3287C53.3509 63.0754 52.8417 62.5079 51.9996 62.6262Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M45.061 63.2155C45.658 63.1316 46.182 63.2736 46.6329 63.6417C47.2026 64.1099 47.5481 64.775 47.6692 65.6369C47.7909 66.5028 47.7242 67.4193 47.469 68.3866C47.1826 69.4751 46.7162 70.345 46.0699 70.9962C45.5186 71.5495 44.9109 71.8728 44.2467 71.9661C43.705 72.0422 43.209 71.9265 42.7585 71.6189C42.1333 71.1866 41.7507 70.4723 41.6107 69.476C41.494 68.6457 41.555 67.7743 41.7936 66.8618C42.0824 65.7609 42.5545 64.8741 43.2099 64.2014C43.7521 63.6413 44.3691 63.3127 45.061 63.2155ZM44.9305 63.6209C44.1951 63.7242 43.6363 64.3954 43.254 65.6345C43.0231 66.3725 42.8716 67.1881 42.7996 68.0812C42.7467 68.7378 42.76 69.3487 42.8395 69.9141C42.8895 70.27 42.9749 70.5765 43.0957 70.8337C43.2182 71.1027 43.3891 71.3004 43.6085 71.4268C43.8318 71.5527 44.0818 71.5962 44.3586 71.5573C45.2403 71.4334 45.8648 70.5271 46.2323 68.8386C46.3795 68.1647 46.4703 67.4625 46.5047 66.7319C46.5324 66.212 46.5168 65.7424 46.4579 65.3233C46.2818 64.07 45.7727 63.5025 44.9305 63.6209Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M35.8002 64.7108L38.4572 64.3374L38.438 64.5457L38.2957 64.5657C38.0071 64.6062 37.8012 64.7481 37.6782 64.9911C37.5936 65.1643 37.5329 65.449 37.4958 65.8453L37.0061 71.5264C36.9852 71.7511 36.9801 71.901 36.9907 71.9761C37.0284 72.245 37.2292 72.3539 37.593 72.3027L38.2987 72.2036C39.1013 72.0908 39.6837 71.8456 40.046 71.4681C40.3702 71.1363 40.5871 70.6422 40.6964 69.9857L40.9158 69.9549L40.6031 72.291L35.1944 73.0511L35.1652 72.8435L35.2423 72.8327C35.479 72.7954 35.656 72.6637 35.7734 72.4375C35.8613 72.2599 35.9238 71.9729 35.9608 71.5766L36.4461 65.9928C36.4768 65.6377 36.485 65.4088 36.4705 65.306C36.4261 64.9897 36.218 64.8577 35.8464 64.9099L35.7811 64.9191L35.8002 64.7108Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
        <path d="M29.5079 65.5949L31.898 65.259C32.5859 65.1623 33.1244 65.2358 33.5134 65.4795C33.9826 65.7764 34.2571 66.2095 34.3371 66.7789C34.4327 67.4589 34.2219 68.0248 33.7048 68.4764C33.4638 68.6837 33.1543 68.8622 32.7762 69.0121C33.0934 69.0603 33.3563 69.1524 33.5649 69.2884C34.0075 69.5689 34.2689 69.9938 34.3489 70.5631C34.43 71.1404 34.3288 71.6827 34.0453 72.1903C33.7653 72.6933 33.3308 73.0588 32.7419 73.2867C32.4554 73.3995 32.0729 73.4896 31.5945 73.5568L28.8487 73.9427L28.8195 73.7351L29.0033 73.7093C29.2208 73.6787 29.3842 73.565 29.4936 73.3682C29.607 73.1709 29.6825 72.8619 29.7202 72.4413L30.208 66.8754C30.2387 66.5203 30.2469 66.2913 30.2324 66.1885C30.1874 65.8683 29.9791 65.7343 29.6074 65.7865L29.4888 65.8032L29.5079 65.5949ZM31.0576 69.0481L31.3245 69.0105C31.9452 68.9233 32.4086 68.7493 32.7147 68.4886C32.9161 68.3151 33.062 68.091 33.1524 67.8162C33.2536 67.5037 33.2798 67.1734 33.2309 66.8255C33.1631 66.3431 32.9674 66.0118 32.6437 65.8315C32.4068 65.6955 32.1184 65.6513 31.7784 65.6991C31.6439 65.718 31.4976 65.7527 31.3394 65.8031L31.0576 69.0481ZM30.6968 73.1508C30.8944 73.1794 31.0979 73.179 31.3075 73.1496C31.9638 73.0574 32.4543 72.7747 32.7789 72.3017C33.1029 71.8248 33.2227 71.2858 33.1383 70.6849C33.0572 70.1076 32.8175 69.722 32.4193 69.528C32.1638 69.4026 31.7949 69.3738 31.3125 69.4416L31.0219 69.4825L30.6968 73.1508Z" fill="#434F1A" stroke="#434F1A" stroke-width="0.714959" stroke-linejoin="round"/>
      </svg>

      <img
        class="home-6"
        src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/home-8.png?v=1758646115"
        alt="Butter Flower Farm collage image"
        style="height:auto;"
      >

      <img
        class="home-7"
        src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/home-6.png?v=1758646115"
        alt="Butter Flower Farm collage image"
        style="height:auto;"
      >
    </div>
<!-- Row 5 -->
    <div class="row-5 container">
      <img
        class="home-8"
        src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/home-7.png?v=1758646115"
        alt="Butter Flower Farm collage image"
        style="height:auto;"
      >

      <img
        class="home-9"
        src="https://cdn.shopify.com/s/files/1/0763/4495/1042/files/home-9.png?v=1758646115"
        alt="Butter Flower Farm collage image"
        style="height:auto;"
      >
    </div>

  {% section 'footer' %}
</main>
