<style>
  html,
  body {
    height: 100%;
    margin: 0;
  }


  .hero {
    height: 100vh;
    background-image: url("https://cdn.shopify.com/s/files/1/0763/4495/1042/files/home-hero.png?v=1757532684");
    background-size: cover;
    background-position: center;
  }

/* ------------- Mobile ------------- */

</style>


<main class="page">
  
  <section class="hero">
  </section>

 {% section 'home-shop-links' %}

</main>
