:root {
    /* Font families */
    --font-sans: 'nimbus', ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;

    /* Font sizes */
    --font-title: 48px;
    --font-sub-title: 32px;
    --font-label: 24px;
    --font-body: 16px;


    /* Line heights */
    --line-height-body: 1.2;
    --line-height-title: 1.4;

    /* Letter spacing */
    --letter-spacing-tight: -0.01em;
    --letter-spacing-normal: 0;

}

/* -- Nimbus -- */

@font-face {
    font-family: 'nimbus-bold';
    src: url('nimbus-sans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus';
    src: url('nimbus-sans-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* -- Nimbus Condensed -- */

@font-face {
    font-family: 'nimbus-condensed';
    src: url('nimbus-sans-cond.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus-condensed';
    src: url('nimbus-sans-condensed-black.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


body {
    font-family: var(--font-sans), "sans-serif";
    font-size: var(--font-body, 16px);
    line-height: var(--line-height-body, 1.2);
    color: #000;
    background: #fff;
}