:root {
    /* Font families */
    --font-cond: 'nimbus-condensed';
    --font-body: 'nimbus';
    --font-cond-medium: 'nimbus-condensed';
    /* Font sizes */
    --font-size-title: 48px;
    --font-size-subtitle: 28px;
    --font-size-label: 24px;
    --font-size-body: 16px;
    --font-size-body-small: 14px;
    /* Line heights */
    --line-height-body: 1.3;
    --line-height-title: 1.2;
    /* Letter spacing */
    --letter-spacing-tight: -0.025px;
    --letter-spacing-normal: 0;

     /* Color */
    --color-bg: #fff;
    --color-contrast: #3D4020;
    --color-contrast-inverse: #fff;
    --color-contrast-weak: #3D4020 50%;
    --color-primary: #ECED5E;
    --color-secondary: #FF99DA;
    --color-accent-1: #AFB725;
    --color-accent-2: #7E9BE9;
    --color-accent-3: #C0D8FF;

    /* Space */
    --space-xxs: 8px;
    --space-xs: 12px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 32px;
    --space-xl: 48px;
}

/* -- Nimbus -- */

@font-face {
    font-family: 'nimbus-bold';
    src: url('nimbus-sans-bold.woff') format('woff');
}

@font-face {
    font-family: 'nimbus';
    src: url('nimbus-sans-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* -- Nimbus Condensed -- */

@font-face {
    font-family: 'nimbus-condensed';
    src: url('nimbus-sans-condensed.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
  font-family: 'nimbus-condensed-light';
  src: url('nimbus-sans-condensed-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.body {
    font-family: var(--font-body, 'nimbus'), "sans-serif";
    font-size: var(--font-size-body, 16px);
    line-height: var(--line-height-body, 1.2);
    color: var(--color-contrast);
    background: var(--color-bg);
}

/* -- Type Styles -- */
.title {
    font-family: var(--font-sans-medium), "sans-serfif";
    font-size: var(--font-size-title);
    line-height: var(--line-height-title, 1.2);
    color: var(--color-contrast);
}

.subtitle {
    font-family: var(--font-sans-regular), "sans-serfif";
    font-size: var(--font-size-subtitle);
    line-height: var(--line-height-title, 1.2);
    color: var(--color-contrast);
}

.label {
  font-family: var(--font-sans-medium), "sans-serfif";
  font-size: var(--font-size-label);
  line-height: var(--line-height-title, 1.2);
  color: var(--color-contrast);
  text-decoration: none;
}

.nav-link {
    font-family: var(--font-sans-regular), "sans-serfif";
    font-size: var(--font-size-label);
    line-height: var(--line-height-title, 1.2);
    color: var(--color-contrast-inverse);
    text-decoration: none;
    letter-spacing: .1;
}

p {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body,);
    color: var(--color-contrast);
    letter-spacing: var(--letter-spacing-tight);
}
/* -- Grid Styles -- */
.container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
    margin-left: var(--space-sm);
    margin-right: var(--space-sm);
  }
/* -- Button Styles -- */
.button{
    display: flex;
    font-family: var(--font-sans-medium), "sans-serif";
    font-size: var(--font-size-label);
    color: var(--color-contrast);
    background-color: transparent;
    border: none;
    text-decoration: underline;
    padding: 0;
}
body {
  margin: 0;
  padding: 0;
  }
/* -- DELETE ME -- */
.spacer{
  display: block;
  height: 100%;
  width: 400px;
}
